.img__logo{
    min-width: 120px;
    min-height: 95px;
}

.mind__motivation{
    width: 200px;

}


.custom__tabs__section{
background-color: #029ACB;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    /* border-top-right-radius: .25rem; */
    color: white;
}

#home__section{
    background-image: url('../images/slider1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    min-height: 700px;
    position: relative;

}
.home__inner h5{
    color: white;
    font-size: 33px;
    font-weight: bolder;
}



#home__section .home__inner{

    padding: 62px;
    margin-top: 110px;
}
#home__section .main__home{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    min-height: 700px;
}





.home__content__inner{
    margin-top: 250px;
}

.custom__caption{
    margin-bottom: 300px;
}



/* products */

.main {
    position: relative;
    width: 100%;
    border-radius: 50%;
    font-family: Arial, Helvetica, sans-serif;



}
.main img{
    border-radius: 20px;
}
.title{
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    color: white;
    font-size: 19px;
    font-weight: lighter;
    border-radius: 20px 0px;



}




.main .overlay .product__text{
    padding: 10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;

    color: white
}
.main .overlay{
    position: absolute;
    background: rgba(0,0,0,0.6);
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    border-radius: 20px;
    transition: linear all 0.5s;

}
.main:hover .title{
    opacity : 0;
}

.main:hover .title__category{
    opacity : 0;
}


.main:hover .overlay{
opacity: 0.8;

}

.main .overlay .btn__custom{
    background-color: rgb(130,168,42);


    filter:alpha(opacity=30);
    border-radius: 40px;
    border: 0px;
    color: white;
    padding: 10px;
    font-weight: bold;
    opacity: 1;
}

.custom__main{
    border: 1px solid #cecece;
    border-radius: 20px;

}

.custom__main:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* category */

.category__text{
    color: white;
}

.title__category{
    background: rgba(0,0,0,0.1);
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    color: white;
    font-size: 19px;
    font-weight: lighter;
    border-radius: 20px 20px 0px 0px;





}

.main__content p{
    font-size: 18px;
}



.custom__image{
    width: 100%;
    /* max-width: 100%; */
    max-height: 232px;

}

.footer__logo .footer__img{
    max-width: 200px !important;
}
footer [class*="main-wrapper"] {
    padding: 0 0 !important;
}
.mind__motivation {
    width: 170px;
}


#section01 {
    position: relative;
    width: 100%;
    height: 100%;
    { background: url(https://picsum.photos/1200/800?image=575) center center / cover no-repeat;}
  }
  #section01::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 80%;
    color: black;
  }
  html {
    scroll-behavior: smooth;
  }

  #section01 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
  }


  @media screen and (max-width:768px){
    #home__section{
        background-image: url('../images/slider1.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment: scroll;
        min-height: 450px;
        position: relative;

    }
    .home__inner h5 {
        color: white;
        font-size: 18px;
        font-weight: lighter;
        min-width: 80%;
        text-align: left;

    }
    #home__section .main__home {
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.4);
        min-height: 450px;
    }
    .img__logo{
        min-width: 110px;
        min-height: 80px;
    }

    .mind__motivation{
        width: 165px;

    }

}

[class|="sectiontitle-element"][class*="inline"] .wrapper {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 100%;
    max-width: 108%;
}


.category__button{
    background-color: #cecece;
    width: 100%;
}